@{
    var s = "Error";
    switch (@Model)
    {
	    case true:
		    s = "Success";
		    break;
	    case false:
		    s = "Failed";
		    break;
    }
    ViewData["Title"] = $"Login {@s}";
}

<h1>Login @s</h1>
<a href="/Login">Back to login</a>
