@{
    var s = "Error";
    if (@Model != -1)
    {
	    s = "Success";
    }
    else
    {
	    s = "Failed";
    }
    ViewData["Title"] = $"Login {@s}";
}

<h1>Login @s</h1>
<a href="/Login">Back to login</a>
<br/>


@if (@Model != -1)
{
	<a href="/Vote">Vote</a>
}
